
:root{
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
--very-dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-light-gray: hsl(0, 0%, 98%);
}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
    font-family: poppins,sans-serif;
    background:var(--very-light-gray);
}

p{
    color: var(--grayish-blue);
}

header{
    white-space: nowrap;
}

.top-container{
    text-align: center;
}

.top-container h1 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--grayish-blue);
}

.top-container h2{
    margin-top: -20px;
    font-size: 2rem;
    color: var(--very-dark-blue);
}

.top-container p{
    font-size: 1.2rem;
    white-space: pre-wrap;
    text-align: center;
}

.col{
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 18px auto;
    height: 200px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.1);
}

.col img{
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
}

.col h3{
    font-size: 1.3rem;
    color: var(--very-dark-blue);
}

.col::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

.col-red::after{
    background-color: var(--red);
}

.col-cyan::after{
    background-color: var(--cyan);
}

.col-orange::after{
    background-color: var(--orange);
}

.col-blue::after{
    background-color: var(--blue);
}

@media (min-width: 768px){
    .box-section{
        display: flex;
        align-items: center;
    }
    .col{
        margin:18px;
    }
}